{
  "singleQuote": false,
  "semi": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "printWidth": 160,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "jsxSingleQuote": false,
  "singleAttributePerLine": false
  
}